<p><%= t('.greeting', first_name: @rent.user.first_name) %></p>
<p>
  <%= t('.content', rent_date: @rent.created_at) %>
</p>
<p><%= t('.date_detail', from: @rent.loan, to: @rent.restitution) %></p>
<h4><%= t('.book_detail') %></h4><br/>
<table>
  <tr style="padding:15px">
    <td style="border-bottom: 1px solid;padding:15px"><b>Title</b></td>
    <td style="border-bottom: 1px solid;padding:15px"><%= @rent.book.title %></td>
  </tr>
  <tr>
    <td style="border-bottom: 1px solid;padding:15px"><b>Author</b></td>
    <td style="border-bottom: 1px solid;padding:15px"><%= @rent.book.author %></td>
  </tr>
  <tr>
    <td style="border-bottom: 1px solid;padding:15px"><b>Genre</b></td> 
    <td style="border-bottom: 1px solid;padding:15px"><%= @rent.book.genre %></td>
  </tr>
  <tr>
    <td style="border-bottom: 1px solid;padding:15px"><b>Publisher</b></td> 
    <td style="border-bottom: 1px solid;padding:15px"><%= @rent.book.publisher %></td>
  </tr>
  <tr>
    <td style="border-bottom: 1px solid;padding:15px"><b>Year</b></td> 
    <td style="border-bottom: 1px solid;padding:15px"><%= @rent.book.year %></td>
  </tr>
</table>
